<%- include('partials/head.html'); %>
<%- include('partials/header.html'); %>

<main itemprop="mainContentOfPage">
  <div class="content">

  <h1><%= title %></h1>

  <% if (!nomenu) { %>
    <p class="notice">Owing to Covid 19 restrictions, Old Pines is closed until further notice. Your 2020 bookings can be transferred to a later date for no charge or cancellation fee. We hope to reopen in the late summer but a date cannot be determined at this time. Best wishes to all our customers.</p>
  <% } %>

  <%- contents %>

  </div>
</main>

<%- include('partials/footer.html'); %>

<%- include('partials/nav.html'); %>

<%- include('partials/foot.html'); %>
