<%- include('partials/head.html'); %>
<%- include('partials/header.html'); %>

<main itemprop="mainContentOfPage">

  <%- contents %>

</main>

<%- include('partials/footer.html'); %>

<%- include('partials/nav.html'); %>

<%- include('partials/foot.html'); %>
