<%- include('partials/head.html'); %>
<%- include('partials/header.html'); %>

<main itemprop="mainContentOfPage">
  <div class="content">

  <h1><%= title %></h1>

  <% if (!nomenu) { %>
    <p class="notice">Owing to Covid 19 restrictions, Old Pines is closed until 25 July 2020, subject to Government guidance. Any bookings made for 2020 can be transferred to a later date for no charge or cancellation fee. Looking forward to welcoming you back soon!</p>
  <% } %>

  <%- contents %>

  </div>
</main>

<%- include('partials/footer.html'); %>

<%- include('partials/nav.html'); %>

<%- include('partials/foot.html'); %>
